<link rel="stylesheet" href="{{ url_for('static', filename='css/guest/login-form_style.css') }}">

<div id="loginFormPopup" class="login-form-popup">
    <div class="container main">
    
    <div id="error-message-container">
        <div id="error-message" class="error-message"  style="display: none;"></div>
    </div>

    <div id="success-message-container">
        <div id="success-message" class="success-message"  style="display: none;"></div>
    </div>


          <form action="{{ url_for('guest_bp.log_in') }}" id="loginForm" method="POST" enctype="multipart/form-data">
              <div class="input-box">
                
                <div class="row header-row">
                    <div class="col-2 text-start">
                          
                    </div>
                    <div class="col-8 text-center">
                        <h2>Log-in</h2>
                    </div>
                    <div class="col-2 text-end">
                        
                    </div>
                </div>

                <div class="input-field">
                  <label for="email">Email</label>
                  <input type="email" class="input" name = "email" required/> 
                </div>

                <div class="input-field">
                  <label for="email">Password</label> 
                  <input type="password" class="input" name = "password" required/>
                </div>

                <div class="input-field" style="text-align: center;">
                  <input type="submit" class="submit" value="Login">
                </div>

                <!--Sign up here -->
                <div class="signin">
                  <span>Don't have an acount? <a id="redirect_to_register">Sign up here</a></span>
                </div>

              </div>  
        </form>        
    </div>
</div>


{% block script %}

{# JS FOR THE LOGIN-FORM ERROR HANDLING AND SUCCESSFUL LOG IN#}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const loginForm = document.getElementById("loginForm");
        const errorMessage = document.getElementById("error-message");
        const successMessage = document.getElementById("success-message");

        loginForm.addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the default form submission behavior

            const formData = new FormData(loginForm);

            fetch("{{ url_for('guest_bp.log_in') }}", {
                method: "POST",
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        errorMessage.textContent = data.error;
                        errorMessage.style.display = 'block'; // Show the error message
                    } else if (data.success) {
                        errorMessage.style.display = 'none';
                        successMessage.textContent = data.success; 
                        successMessage.style.display = 'block'; // Show the success message
                        setTimeout(function() {
                            window.location.href = data.redirect_url; // Redirect after a delay
                        }, 1000); // 1000 miliseconds (1s delay)
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        });
    });
</script>

{% endblock script %}


