{% set patientLoggedIn = True %}
{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block title %}Patient - Home{% endblock title %}


{% block nav_button_patient %}
    <div>
        <p class="nav-link link-dark">Welcome {{ patient_data['first_name']}}</p>
    </div>

    <div class="col-md-2 text-end position-relative">
        <a href="{{ url_for('guest_bp.logout') }}" class="btn text-light" id="log-in">Log-out</a>
    </div>
{% endblock nav_button_patient %}

{% block content %}

   <h1>Patient Home</h1>

{% endblock content %}
