<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='imgs_&_svgs/GaBu_logo1.png')}}" />
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
        .custom-navbar {
            background-color: #FFFFFF;
            position: sticky;
            top: 0;
            z-index: 3;
        }

        .custom-container {
            max-width: 1400px; /* Adjust this value to make the container bigger */
        }
        .nav-link{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .nav-link:hover {
            color: #5CC9CD;
        }
        #log-in {
            background-color: #5CC9CD;
            color:#FFFFFF;
            border: none;
            border-radius: 30px; /* Adjust the value to control button roundness */
            padding: 10px 20px;

        }
        body{
          min-height: 100%;
          display: flex;
          flex-direction: column;
        }

        #log-in:hover{
            background-color: #046a76;
        }

        footer {
          margin-top: auto;
          padding-left: 8%;
          padding-right: 8%;
          background-color: #5CC9CD;
        }

        footer .col-first{
          padding-top: 10px;
          
        }
        footer .col{
          text-align: center;
        }

        footer.nav-link {
          font-size: 18px;
        }
        footer .nav-link:hover{
            color:#FFFFFF;
        }


    </style>
  </head>
  {% endblock head %}

  <body>
    <!--NAVBAR (changes depending what the role of the user is.) -->
    {% block navbar %}
    
      {% if nonUser %}
        <header class="py-3 border-bottom custom-navbar">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{url_for('home_bp.index')}}" class="d-flex align-items-center col-md-3 text-dark text-decoration-none" style="font-family: 'Questrial', sans-serif; font-size:larger;">
                    
                        <img src="{{url_for('static', filename='imgs_&_svgs/GaBu_logo1.png')}}" alt="GabayBuhay Icon" width="32px" height="32px" >
                        GabayBuhay                                                                                    
                    </a>
                    

                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="lichenCheckBtn">LichenCheck</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="seeADoctorBtn">See a Doctor</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="clinicalSolutionsBtn">Clinical Solutions</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="dermAwareBtn">DermAware</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-3 link-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="aboutUsBtn">
                                About Us
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Our Team</a>
                                <a class="dropdown-item" href="#">Feedback</a>
                            </div>
                        </li>
                    </ul>

                      <div class="col-md-3 mr-5 text-end position-relative">
                          <button id="log-in" type="button" class="btn text-light">Log-in</button>
                      </div>
                </div>
            </div>
        </header>
      {% elif patientLoggedIn %}
        <header class="py-3 border-bottom custom-navbar">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{url_for('home_bp.index')}}" class="d-flex align-items-center col-md-3 text-dark text-decoration-none" style="font-family: 'Questrial', sans-serif; font-size:larger;">
                    
                        <img src="{{url_for('static', filename='imgs_&_svgs/GaBu_logo1.png')}}" alt="GabayBuhay Icon" width="32px" height="32px" >
                        GabayBuhay                                                                                     
                    </a>
                    

                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li class="nav-item"><a href="{{url_for('patient_bp.lichencheck')}}" class="nav-link px-3 link-dark" id="lichenCheckBtn">LichenCheck</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="seeADoctorBtn">See a Doctor</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="clinicalSolutionsBtn">Clinical Solutions</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="dermAwareBtn">DermAware</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-3 link-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="aboutUsBtn">
                                About Us
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Our Team</a>
                                <a class="dropdown-item" href="#">Feedback</a>
                            </div>
                        </li>
                    </ul>

                      {% block nav_button_patient %}
                      
                      {% endblock nav_button_patient %}

                </div>
            </div>
        </header>
      {% elif clinicianLoggedIn %}
        <header class="py-3 border-bottom custom-navbar">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{url_for('home_bp.index')}}" class="d-flex align-items-center col-md-3 text-dark text-decoration-none" style="font-family: 'Questrial', sans-serif; font-size:larger;">
                    
                        <img src="{{url_for('static', filename='imgs_&_svgs/GaBu_logo1.png')}}" alt="GabayBuhay Icon" width="32px" height="32px" >
                        GabayBuhay                                                                                     
                    </a>
                    

                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="lichenCheckBtn">LichenCheck</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="seeADoctorBtn">See a Doctor</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="clinicalSolutionsBtn">Clinical Solutions</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-3 link-dark" id="dermAwareBtn">DermAware</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-3 link-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="aboutUsBtn">
                                About Us
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Our Team</a>
                                <a class="dropdown-item" href="#">Feedback</a>
                            </div>
                        </li>
                    </ul>

                      {% block nav_button_clinician %}
                      
                      {% endblock nav_button_clinician %}

                </div>
            </div>
        </header>
      {% endif %}

    {% endblock navbar %}

    <!--CONTENT BODY (replace with the specific contents for the corresponding page-->
      <div class="wrapper">
        <div class="container custom-container">
            {% block content %}{% endblock %}
        </div>
      </div>


    {# NEW FOOTER #}
    <footer class="border-top border-bottom pt-3 pb-3">
      <!-- First Row -->
      <div class="row row-cols-6">
        <div class="col-first">
          <a href="{{url_for('home_bp.index')}}" class="link-dark">          
            <img src="{{url_for('static', filename='imgs_&_svgs/GaBu_logo2.png')}}" alt="GabayBuhay Icon" width="42px" height="42px" >                                                                          
          </a>
          <h6>GabayBuhay</h6>
          <h6 class="text-muted">Legazpi City, Albay</h6>
          <h6 class="text-muted">© 2023</h6>
        </div>

        <div class="col nav-link px-3 link-dark">
          <a href="#" class="nav-link px-3 link-dark">LichenCheck</a>
        </div>
        <div class="col nav-link px-3 link-dark">
          <a href="#" class="nav-link px-3 link-dark">See a Doctor</a>
        </div>
        <div class="col nav-link px-3 link-dark">
          <a href="#" class="nav-link px-3 link-dark">DermAware</a>
        </div>
        <div class="col nav-link px-3 link-dark">
          <a href="#" class="nav-link px-3 link-dark">Clinical Solutions</a>
        </div>
        <div class="col nav-link px-3 link-dark">
          <a href="#" class="nav-link px-3 link-dark">About Us</a>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 px-3"><a href="#" class="nav-link p-0 text-muted">Our Team</a></li>
            <li class="nav-item mb-2 px-3"><a href="#" class="nav-link p-0 text-muted">Feedback</a></li>
          </ul>
        </div>
      </div>

      <!-- Separator Line -->
      <hr class="my-2">

      <!-- Second Row for Terms and Conditions -->
      <div class="row">
        <div class="col nav-link px-2 link-dark text-center">
          <h6><a href="#" class="nav-link px-3 link-dark">Terms and Conditions | Privacy Policy</a></h6>
        </div>
      </div>
    </footer>


  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index/index_script.js') }}"></script>
  {% block script %} {% endblock script %}

  </body>
</html>