.container-fluid{
    width: 100%;
    /* overflow-y: scroll;
    scroll-snap-type: y mandatory; */
}

#clinicalSolutionsBtn{
    color:#57bdc0;
}

.section{
    width: 100%;
    gap: 50px;
    /* scroll-snap-align: start; */
}

.section h2{
    font-family: 'Questrial', sans-serif;
}

.section .btn{
  border-radius: 50px; /* Adjust the value to control button roundness */
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color:#5CC9CD; 
  font-family: 'Questrial', sans-serif;
}

.section .btn:hover{
background-color: #046a76;
  transition: background-color 0.3s ease;
}


p.lead{
    font-size: 24px;
    font-family: 'Questrial', sans-serif;
}

/* Style for custom image size */
.custom-img-size {
    max-width: 700px; /* Allow the width to be flexible */
    max-height: 500px; /* Adjust the max-height to your desired value */
    width: auto; /* Maintain aspect ratio */
}

.panel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 400px; 
    height: 120px; 
  }

  
  /* CSS for the blur overlay */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    backdrop-filter: blur(2px); /* Apply blur effect */
  }

